body {
  margin: 0;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0;
}

nav {
  display: none;
}




/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
